@import './vars.scss';

.logo {
    z-index: 2001;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    top: 0;
    width: auto;

    @media screen and (max-width: 600px) {
      justify-content: space-between;
      width: 100%;
    }

    .logo-title {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      justify-content: center;
      margin: 0 15px 0 5px;
      width: 100%;
      text-decoration: none;
    }
  
    h1 {
      position: relative;
      z-index: -1;
      font-size: 30px;
      margin: 0;
      padding: 0;
      font-weight: 900;
      color: $light;
      opacity: 0.75;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      cursor: pointer;
    }
  
    h2 {
      display: block;
      position: relative;
      z-index: -1;
      top: -7px;
      left: 4px;
      font-size: 10px;
      letter-spacing: 0.1em;
      margin: 0;
      padding: 0;
      font-weight: 400;
      margin: 0;
      padding: 0;
      color: $light;
      opacity: 0.4;
    }
  }

  .logo-cities {
      display: inline-block;
  }

  .socials {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
      position: relative;
      right: 0;
      top: 0;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      background: rgba(255,255,255,.5);
      margin-right: 7px;
      border-radius: 15px;
      opacity: .6;
      transition: opacity .5s ease;

      &:hover {
        opacity: .8;
        transition: opacity .5s ease;
      }

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }