@import './vars.scss';

.mega-pagination-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;

    .pagination-number {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255,255,255,.3);
        opacity: .6;
        transition: opacity .5s ease;
        cursor: pointer;

        &:hover {
            opacity: .8;
            transition: opacity .5s ease;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 11px;
            line-height: 20px;
            font-weight: 600;
            color: rgba(5,8,2, 0.5)
        }

    }

    .pagination-number-on {
        opacity: 1;
        transition: opacity .5s ease;
    }

    .pagination-arrow {
        height: 25px;
        width: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: .6;
        transition: opacity .5 ease;
        cursor: pointer;

        &:hover {
            opacity: .9;
            transition: opacity .5 ease;
        }

        svg {
            width: 5px;
            fill: rgba(245,249,251, 0.5)
        }
    }

    .pagination-left {
        svg {
            transform: rotate(180deg)
        }
    }
}